body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    /* display: flex; */
    flex-direction: column;
    /*Margin-left: 200px;*/
    height: 100vh;
}

.sidebar {
    /* position: fixed; */
    /*top: 10%;*/
    left: 0;
    /*width: 200px;*/
    height: 100vh;
    /* height: -webkit-fill-available; */
    background-color: #f1f1f1;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar li a {
    text-decoration: none;
    color: #333;
}

.sidebar li a:hover {
    color: #666;
}

.content {
    flex: 1;
    padding: 20px;
}


/* form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 20px;

} */

table {
    border-collapse: collapse;
    top:0;
    text-align: center;
}

thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

tbody td {
    border: 1px solid #333;
    padding: 10px;
    padding-left:  30px;
    padding-right:  30px;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

.col-md-3{
    top: 10%;
    width: 100%;
    margin-left: 10%;
    position: fixed;
}


